/*** Repeat the pattern style CSS ***/
.box1 {
  background-color: rgb(212, 156, 168);
}

.box2 {
  background-color: rgb(86, 52, 170);
}

.box3 {
  background-color: rgb(103, 154, 168);
}

.box4 {
  background-color: rgb(217, 225, 190);
}

.gamebutton {
  width: 120px;
  height: 120px;
  margin: 20px;
  border-radius: 400px;
}

#blue.hover {
  /* background-color: rgb(86, 52, 170); */
}

#green.hover {
  /* background-color: rgb(212, 156, 168); */
}

#red.hover {
  /* background-color: rgb(217, 225, 190); */
}

#dark.hover {
  /* background-color: rgb(103, 154, 168); */
}

#blue.hover, #blue:active, #green.hover, #green:active, #red.hover, #red:active, #dark.hover, #dark:active {
  background-color: #F83CA7;
}


@media (orientation: landscape) {
  .gamebutton {
    width: 35vh;
    height: 35vh;
    margin: 10px;
    max-width: 120px;
    max-height: 120px;
  }

  @media (min-width: 1000px) {
    .gamebutton {
      width:20vw;
      height:20vw;
      max-width: 120px;
      max-height: 120px;
    }
  }
}

#waitforit{
  position: fixed;
  float: center;
  top: 20vh;
  padding: 5px 7px;
  border-radius: 10px;
  color: #D9E1BE;
}
