/*** Reaction Game CSS ***/ 
.reactionBox {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reactionBox span{
  font-size: 40px;
}
.reactionBox img{
  height: 100%;
}
.hidden {
  display: none;
}
.passed {
  background: lightgreen;
}
.failed {
  background: pink;
}