html,
body {
  height: 100%;
  margin: 0;
  background-color: #FBF6D2;
  font-family: "Tahoma";
}

/*  QUESTION AREA */
.question-area {
  height: 160px;
  background-color: #5634AA;
  color: #D9E1BE;
  display: flex;
  align-items: center;
  justify-content: center;
}

.question-area h1 {
  max-width: 600px;
}

/* SLOSTHICLES LIVE BAR */
.live-bar {
  display: flex;
  font-family: Tahoma;
  color: #5634AA;
  background-color: #F83CA7;
  border-radius: 15px;
  width: 90%;
  max-width: 300px;
  font-size: 20px;
  margin: 20px auto;
  align-items: center;
  justify-content: left;
  min-height: 50px;
}

.live-bar ul, p {
  display: flex;
  padding-left: 8px;
  margin: 0;

}

.live-bar li {
  list-style: none;
  height: 30px;
  width: 30px;
  max-height: 30px;
  margin: 7px;
}

@media (min-width: 1440px) {
  
  .live-bar {
    max-width: 360px;
    justify-content: center;
    padding: 0;
  }
}


/* SCORE BAR */
main  {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.score-bar {
  display: flex;
  align-self: flex-end;
  margin-bottom: auto;
  padding: 0 20px;
  font-size: 20px;
  height: 50px;
  color: #5634AA;
  justify-content: center;
  background-color: #F83CA7;
  border-radius: 15px;
  align-items: center;
  max-width: 150px;
}

.score-bar p, .score-bar span {
  margin: 5px;
  padding: 20px 0 ;
}

/* TEST BAR */
.test-bar {
  position: absolute;
  bottom:20px;
}


/*** Main Menu ***/
.main-menu{
  width: 100%;
  color: #5634AA;
  text-align: center;
}
.main-title{
  font-weight: 100;
  font-size: 50px;
  text-transform: uppercase;
}
#start-the-game{
  padding: 20px 40px;
  background-color: patternArray2;
  color: #FBF6D2;
  background-color: #5634AA;
  border-radius: 20px;
  font-size: 20px;
  margin-top: 40px;
  cursor: pointer;
}
#hail-sloth{
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  left: 50%;
  margin-left: -238px;
}
.patterns{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.patterns div{
  flex: 1;
}
.pattern-circle{
  height: 80px;
  width: 80px;
  border-radius: 80px;
}
.pattern-triangle{
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 80px solid;
}
.pattern-triangle-upside-down{
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 80px solid;
}
.pattern-box{
  height: 80px;
  width: 80px;
  min-height: 80px;
  min-width: 80px;
  max-height: 80px;
  max-width: 80px;
  background-color: white;
  box-sizing: border-box;
}
#get-ready{
  font-size: 60px;
}
