html,
body {
  height: 100%;
  margin: 0;
  background-color: #FBF6D2;
  font-family: "Tahoma";
}

/*  QUESTION AREA */
.question-area {
  height: 160px;
  background-color: #5634AA;
  color: #D9E1BE;
  display: flex;
  align-items: center;
  justify-content: center;
}

.question-area h1 {
  margin: 0 20px;
  max-width: 600px;
}


/* SLOSTHICLES LIVE BAR */
.live-bar {
  display: flex;
  font-family: Tahoma;
  color: #5634AA;
  background-color: #F83CA7;
  border-radius: 15px;
  width: 90%;
  max-width: 300px;
  font-size: 20px;
  margin: 20px auto;
  align-items: center;
  justify-content: left;
  /* padding-left: 25px; */
  min-height: 50px;
}

.live-bar ul, p {
  display: flex;
  padding-left: 8px;
  margin: 0;

}

.live-bar li {
  list-style: none;
  height: 30px;
  width: 30px;
  max-height: 30px;
  margin: 7px;
}

@media (min-width: 1440px) {
  
  .live-bar {
    max-width: 360px;
    justify-content: center;
    padding: 0;
  }
}



/* 2x2 GAME GRID */
.grid2x2 {
  min-height: 45%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.grid2x2>div {
  display: flex;
  flex-basis: calc(35% - 40px);
  justify-content: center;
  flex-direction: column;
}

.grid2x2>div>div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.object {
  margin: 10px;
  padding: 20px;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: bold;
  text-align: center;
  max-width: 75px;
  max-height: 75px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
}

.innercircle {
  padding: 30px;
  border-radius: 30px;
}

.innerText {
  /* display: none; */
}


/* SCORE BAR */
footer {
  margin-top: 20px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.score-bar {
  display: flex;
  padding: 0 20px;
  font-size: 20px;
  height: 50px;
  color: #5634AA;
  justify-content: center;
  background-color: #F83CA7;
  border-radius: 15px;
  align-items: center;
  max-width: 150px;
}

.score-bar p, span {
  margin: 5px;
  padding: 20px 0 ;
}

/* TEST BAR */

.test-bar {
  position: absolute;
  bottom:20px;
}

/*** Game 2 stuff ***/ 
.reactionBox {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reactionBox span{
  font-size: 40px;
}
.reactionBox img{
  height: 100%;
}
.hidden {
  display: none;
}
.passed {
  background: lightgreen;
}
.failed {
  background: pink;
}